body {background-color: #d3c7c7;}
h1 {
    font-family: courier;
    font-size :200%;
    background-color : orange;
    }
p {
  
        font-size:200%;
        color:#ECEFF1;
        background-color :red;
        border: 5px solid #212a5f;
        padding:70px;
        margin:3px;
}
